@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

@font-face {
    font-family: 'poppins';
    src: url(Poppins-Regular.ttf);
    font-weight: 400;
    font-style: normal;
  }
  @font-face {
    font-family: 'DM Sans';
    src: url(Syne-SemiBold.ttf);
  }
  * {
      font-family: 'DM sans';
  }
